<!--Подключаем CSS Jasny Bootstrap -->
<link href="css/jasny-bootstrap.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="css/styleCatalog.css">
<% layout('layout/page') -%>
<% block('title'); -%>

<!-- ФОРМА ПОИСКА НАЧАЛО -->


    <!--    <form class="form-search" role="search">
        <input class="search-query" id="InputSearchProduct" size="16" type="text" placeholder="Введите название товара"><button type="submit" class="btn btn-default"><span class = "glyphicon glyphicon-search"></span> Искать</button>
      </form> -->
      <div class="form-search">
        <div class="col-lg-10">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Введите название товара">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">Искать</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
        <!-- ФОРМА ПОИСКА КОНЕЦ -->

        <!-- БОКОВОЕ МЕНЮ НАЧАЛО -->

        <!-- БОКОВОЕ МЕНЮ КОНЕЦ -->

      <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="https://img-new.cgtrader.com/items/631936/7927eaa3de/zbrush-armor-3d-model-ztl.jpg" alt="...">
                  <div class="caption">
                    <h3>Кираса Кравчени</h3>
                      <div class="clearfix">
                        <div class="price">12$</div>
                        <p><a href="#" class="btn btn-success pull-right" role="button">Купить</a> </p>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="https://img-new.cgtrader.com/items/631936/7927eaa3de/zbrush-armor-3d-model-ztl.jpg" alt="...">
                  <div class="caption">
                    <h3>Кираса Кравчени</h3>
                      <div class="clearfix">
                        <div class="price">12$</div>
                        <p><a href="#" class="btn btn-success pull-right" role="button">Купить</a> </p>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="https://img-new.cgtrader.com/items/631936/7927eaa3de/zbrush-armor-3d-model-ztl.jpg" alt="...">
                  <div class="caption">
                    <h3>Кираса Кравчени</h3>
                      <div class="clearfix">
                        <div class="price">12$</div>
                        <p><a href="#" class="btn btn-success pull-right" role="button">Купить</a> </p>
                      </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="https://img-new.cgtrader.com/items/631936/7927eaa3de/zbrush-armor-3d-model-ztl.jpg" alt="...">
                  <div class="caption">
                    <h3>Кираса Кравчени</h3>
                      <div class="clearfix">
                        <div class="price">12$</div>
                        <p><a href="#" class="btn btn-success pull-right" role="button">Купить</a> </p>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="https://img-new.cgtrader.com/items/631936/7927eaa3de/zbrush-armor-3d-model-ztl.jpg" alt="...">
                  <div class="caption">
                    <h3>Кираса Кравчени</h3>
                      <div class="clearfix">
                        <div class="price">12$</div>
                        <p><a href="#" class="btn btn-success pull-right" role="button">Купить</a> </p>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="https://img-new.cgtrader.com/items/631936/7927eaa3de/zbrush-armor-3d-model-ztl.jpg" alt="...">
                  <div class="caption">
                    <h3>Кираса Кравчени</h3>
                      <div class="clearfix">
                        <div class="price">12$</div>
                        <p><a href="#" class="btn btn-success pull-right" role="button">Купить</a> </p>
                      </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="https://img-new.cgtrader.com/items/631936/7927eaa3de/zbrush-armor-3d-model-ztl.jpg" alt="...">
                  <div class="caption">
                    <h3>Кираса Кравчени</h3>
                      <div class="clearfix">
                        <div class="price">12$</div>
                        <p><a href="#" class="btn btn-success pull-right" role="button">Купить</a> </p>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="https://img-new.cgtrader.com/items/631936/7927eaa3de/zbrush-armor-3d-model-ztl.jpg" alt="...">
                  <div class="caption">
                    <h3>Кираса Кравчени</h3>
                      <div class="clearfix">
                        <div class="price">12$</div>
                        <p><a href="#" class="btn btn-success pull-right" role="button">Купить</a> </p>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="https://img-new.cgtrader.com/items/631936/7927eaa3de/zbrush-armor-3d-model-ztl.jpg" alt="...">
                  <div class="caption">
                    <h3>Кираса Кравчени</h3>
                      <div class="clearfix">
                        <div class="price">12$</div>
                        <p><a href="#" class="btn btn-success pull-right" role="button">Купить</a> </p>
                      </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="https://img-new.cgtrader.com/items/631936/7927eaa3de/zbrush-armor-3d-model-ztl.jpg" alt="...">
                  <div class="caption">
                    <h3>Кираса Кравчени</h3>
                      <div class="clearfix">
                        <div class="price">12$</div>
                        <p><a href="#" class="btn btn-success pull-right" role="button">Купить</a> </p>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="https://img-new.cgtrader.com/items/631936/7927eaa3de/zbrush-armor-3d-model-ztl.jpg" alt="...">
                  <div class="caption">
                    <h3>Кираса Кравчени</h3>
                      <div class="clearfix">
                        <div class="price">12$</div>
                        <p><a href="#" class="btn btn-success pull-right" role="button">Купить</a> </p>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="https://img-new.cgtrader.com/items/631936/7927eaa3de/zbrush-armor-3d-model-ztl.jpg" alt="...">
                  <div class="caption">
                    <h3>Кираса Кравчени</h3>
                      <div class="clearfix">
                        <div class="price">12$</div>
                        <p><a href="#" class="btn btn-success pull-right" role="button">Купить</a> </p>
                      </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="https://img-new.cgtrader.com/items/631936/7927eaa3de/zbrush-armor-3d-model-ztl.jpg" alt="...">
                  <div class="caption">
                    <h3>Кираса Кравчени</h3>
                      <div class="clearfix">
                        <div class="price">12$</div>
                        <p><a href="#" class="btn btn-success pull-right" role="button">Купить</a> </p>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="https://img-new.cgtrader.com/items/631936/7927eaa3de/zbrush-armor-3d-model-ztl.jpg" alt="...">
                  <div class="caption">
                    <h3>Кираса Кравчени</h3>
                      <div class="clearfix">
                        <div class="price">12$</div>
                        <p><a href="#" class="btn btn-success pull-right" role="button">Купить</a> </p>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="https://img-new.cgtrader.com/items/631936/7927eaa3de/zbrush-armor-3d-model-ztl.jpg" alt="...">
                  <div class="caption">
                    <h3>Кираса Кравчени</h3>
                      <div class="clearfix">
                        <div class="price">12$</div>
                        <p><a href="#" class="btn btn-success pull-right" role="button">Купить</a> </p>
                      </div>
                  </div>
              </div>
            </div>
        </div>
      </div>


        <!-- Подключаем JavaScript Jasny Bootstrap -->
<script src="js/jasny-bootstrap.min.js"></script>
