    <link rel="stylesheet" href="css/stylePersonalArea.css">

<% layout('layout/page') -%>
<% block('title'); -%>

<h1 align="center">Извините, произошла ошибка.</h1>

<h2 align="center"><%=error.message%></h2>

<br><br><br><br><br><br><br><br>
