<link rel="stylesheet" href="css/styleHome.css">
     <link rel="stylesheet" href="css/styleLogin.css">
<% layout('layout/page') -%>
<% block('title') -%>

<form class="form-signin" name="registration_form">
  <h2><center>Регистрация</center></h2>
	<h5><center>Пожалуйста, расскажите нам о себе.</center></h5>
  <br>
  <h4>Имя пользователя</h4>
  <div class="form-group">
    <input name="username" value="" type="text" class="form-control" id="input-username" placeholder="Имя пользователя">
  </div>
  <h4>Email</h4>
  <div class="form-group">
      <input name="email" value="" type="type" class="form-control" id="input-email" placeholder="Email">
  </div>
  <h4>Ваш пол</h4>
  <div class="form-group">
    <SELECT name="gender" value="" type="text" class="form-control" id="input-gender" >
      <OPTION>Не определен</OPTION>
      <OPTION>Мужской</OPTION>
      <OPTION>Женский</OPTION>
    </SELECT>
  </div>
  <h4>Пароль</h4>
  <div class="form-group">
      <input name="password" value="" type="password" class="form-control" id="input-password" placeholder="Пароль">
  </div>
  <div class="form-group">
    <div class="checkbox">
      <label><input type="checkbox" name="terms"> Я согласен с <a href="/ruleSite" target="_blank">правилами сайта</a></label>
    </div>
  </div>
  <div class="form-group">
    <label class="btn-signin">
      <button type="submit" class="btn btn-lg btn-primary btn-block" data-loading-text="Отправляю...">Зарегистрироваться</button>
      <span class="help-block error"></span>
      </label>
      <br>
  </div>
</form>
 <br><br><br><br><br><br>

<script>
// Клиентский код //
// Человек вводит логин, email, парль
$(document.forms['registration_form']).on('submit', function() {
  var form = $(this);

  $('.error', form).html('');
  $(":submit", form).button("loading");

  // Этот логин, email, пароль отправляются на сервер
  $.ajax({
    url: "/registration", // роут: require('./registration').post
    method: "POST",
    data: form.serialize(),
    complete: function() {
      $(":submit", form).button("reset");
    },
    statusCode: {
      // если ответ сервера 200 - перенаправляем человека в личный кабинет(успешно создали нового пользователя)
      200: function() {
        form.html("Вы успешно зарегестрировались").addClass('alert-success');
        window.location.href = "/personalArea";
      },
      // если 403 - высвечивается ошибка(уже есть такой пользователь)
      403: function(jqXHR) {
        var error = JSON.parse(jqXHR.responseText);
        $('.error', form).html(error.message);
      }
    }
  });
  return false;
});
</script>
