<link rel="stylesheet" href="css/styleHome.css">
<% layout('layout/page') -%>
<% block('title'); -%>

<h2>Политика конфиденциальности</h2>
<pre><h5>Конфиденциальность наших пользователей является высокоприоритетной задачей. Мы не
передаем личную информацию, собранную в Интернете, без разрешения пользователя.
Ваши личные данные должны быть строго конфиденциальными во все времена, этот аспект был и будет
нашим правилом и практикой в ​​отношении использования, сбора,
хранения, передачи, раскрытия, обеспечения безопасности и доступа к Личным данным.
Вся информация, представленная на нашем сайте, используется исключительно с целью
повышения функциональности нашего уровня обслуживания.
Мы сохраняем только частичную информацию о кредитной карте для обеспечения
безопасности, а все транзакции используют SSL-шифрование для шифрования.
Вы соглашаетесь с тем, что предоставляя нам ваши Личные данные, вы разрешаете нам
использовать и сохранять ваши Личные данные в следующих целях и для других целей,
которые будут согласовываться между вами и нами или по закону время от времени:
<ol>
<li>Предоставление услуг;</li>
<li>Маркетинг товаров и / или услуг, связанных с Услугами, нами, нашими агентами или нашими дочерними компаниями;</li>
<li>Анализ, проверка и / или проверка вашего кредита, оплаты и / или статуса в отношении предоставления Услуг;</li>
<li>Обработка любых платежных инструкций, средств прямого дебетования и / или кредитных средств, запрошенных вами;</li>
<li>Обеспечение повседневной работы вашей учетной записи и / или сбор непогашенных сумм на вашем счете в отношении Услуг;</li>
<li>Обработка любых преимуществ, вытекающих из/или в связи с Услугами.</li>
</ol>
<B><h4>В случае, если мы сочтем это необходимым, мы оставляем за собой право вносить поправки в эти правила
без предварительного уведомления. Таким образом, рекомендуется регулярно проверять любые поправки.</h4></B></h5></pre>
