.icons li a{
	padding: 15px 5px;
}
.navbar-brand{
	margin-left: 55px;
}
.authentication li a{
  padding: 15px 10px;
}
.imageShapka{
    margin-bottom: 0px;
}

/*СТИЛИ КАТАЛОГА НАЧАЛО*/
.input-group {
	margin-left: 25px;
	width: 1135px;
}
.form-search{
	margin-bottom: 70px;
}

}
.btn-search{
	position: relative;
}
#InputSearchProduct{
	align-content: flex-end;
}
/*.btn {
	background-color:#2979FF;
	color:#ffffff;
	border-color:#2979FF;
	height: 36px;
	width: 80px;
	border-radius: 2px ;
}*/
.navbar-default{
	background-color: #ffffff;
	    border-color: #ffffff;
}
.navmenu {
width: 300px;
padding-left: 55px;
padding-top: 0px;
}
/* ОТКРЫВАЕТ ВЕРТИКАЛЬНОЕ МЕНЮ ПРИ НАВЕДЕНИИ-ПОКА ОСТАВИТЬ
.dropdown:hover > .dropdown-menu {
    display: block;
}*/
.dropdown-inside
{
   display: none;
}
.dropdown-left:focus ~ .dropdown-inside,
.dropdown-left:active ~ .dropdown-inside,
.dropdown-inside:hover
{
   display: block;
}

ul.dropdown li { position: relative; }
 ul.dropdown,
 ul.dropdown-inside {
 list-style-type: none;
 padding: 0;
 }
 ul.dropdown-inside {
 	position: absolute;
 	z-index: 10000;
 }
 ul.dropdown li.dropdown-left {
 display: inline;
 float: left;
 margin: 0 1px 0 0;
 }
 ul.dropdown li.dropdown-left a {
 padding: 3px 10px 4px;
 display: block;
 }
 ul.dropdown a.dropdown-left:hover { background: #fff; }

 ul.dropdown .dropdown-inside { background: #fff; }
 ul.dropdown .dropdown-inside a:hover { background: #B0BEC5; }

/*СТИЛИ КАТАЛОГА КОНЕЦ*/
.price{
	font-weight: bold;
	padding-top: 6px;
}



footer {
	vertical-align: bottom;
	margin-bottom: 0px;
  margin-top: 0px;
  height: 300px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(232,237,240,1) 64%, rgba(232,237,240,1) 83%, rgba(219,225,229,1) 100%, rgba(246,248,250,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(64%,rgba(232,237,240,1)), color-stop(83%,rgba(232,237,240,1)), color-stop(100%,rgba(219,225,229,1)), color-stop(100%,rgba(246,248,250,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(232,237,240,1) 64%,rgba(232,237,240,1) 83%,rgba(219,225,229,1) 100%,rgba(246,248,250,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(232,237,240,1) 64%,rgba(232,237,240,1) 83%,rgba(219,225,229,1) 100%,rgba(246,248,250,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(232,237,240,1) 64%,rgba(232,237,240,1) 83%,rgba(219,225,229,1) 100%,rgba(246,248,250,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(232,237,240,1) 64%,rgba(232,237,240,1) 83%,rgba(219,225,229,1) 100%,rgba(246,248,250,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f8fa',GradientType=0 ); /* IE6-9 */
	/*background-image: url("footer.jpg");
	background-size: cover;*/
}
footer .footer-left{
	margin-left: 60px;
	float: left;
}
.footer-icons li a{
	margin-top: 0px;
	padding: 15px 5px;
}
footer .footer-right{
	margin-right: 60px;
	float: right;
}
footer .footer-right  img {
	margin-right: 5px;
}
footer .footer-right  a:Hover {
	color:red;
}
footer .footer-right  a {
	color:black;
}
.footer-bottom-left{
	float:left;
}
.footer-bottom-left  a {
	color:black;
}
.footer-bottom-left a:Hover {
	color:red;
}
.footer-bottom-right{
	float: right;
}
.footer-bottom-right a{
	color: black;
}
.footer-bottom-right a:Hover{
	color: red;
}

#scrollup {
position: fixed; /* фиксированная позиция */
opacity: 1.0; /* прозрачность */
padding: 15px 10px 10px; /* отступы */
border-radius: 5px; /* скругление углов */
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
left: 3px; /* отступ слева */
bottom: 10px; /* отступ снизу */
display: none; /* спрятать блок */
cursor: pointer;
}

footer-all{
background-color: black;
}

/*ПОД АДАПТИВНУЮ ВЕРСТКУ*/














/* МЕДИА ЗАПРОСЫ - АДАПТИВНОСТЬ ПОД РАЗНЫЕ РАЗМЕРЫ ЭКРАНА */
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

@media only screen and (min-width : 993px) {

}
