<!-- ПОДВАЛ САЙТА НАЧАЛО-->
<div class="footer-all">
<footer>
  <div class="footer-left"><h3>Кратко о нашем сайте</h3>
    Наш сайт - это торговая площадка, где вы можете покупать<br>
    и продавать текстуры, 3D модели, фотограмметрические сканы<br>
    и плагины для различных проектов. У нас только качественные<br>
    образцы товаров.
    <div id="scrollup"><img alt="Прокрутить вверх" src="imagesStandart/scrollup.png"></div>
    <br><br><h4>Следуйте за нами</h4>
    <ul class="nav navbar-nav navbar-left footer-icons">
      <li><a href="https://vk.com/vladiclav001" target="_blank" title="VK"><img src="/imagesStandart/vk.png"></a></li>
      <li><a href="https://vk.com/chrtnv" target="_blank" title="Facebook"><img src="/imagesStandart/facebook.png"></a></li>
      <li><a href="https://vk.com/id321341174" target="_blank" title="Twitter"><img src="/imagesStandart/twitter.png"></a></li>
      <li><a href="https://vk.com/pfff34" target="_blank" title="Instagram"><img src="/imagesStandart/instagram.png"></a></li>
      <li><a href="#" target="_blank" title="YouTube"><img src="/imagesStandart/youtube.png"></a></li>
      <li><a href="#" target="_blank" title="Google+"><img src="/imagesStandart/google_plus.png"></a></li>
    </ul>
    <br>
    <div class="footer-bottom-left">
      <p><h5>© 2017. Все права защищены. При поддержке <a href="#">XXX</h5></a></p>
    </div>
  </div>

  <div class="footer-right"><h3>Контакты & Поддержка</h3>
    <p><img src="/imagesStandart/TechSupport.png" align="left"><a href="#"><h5>Тех. Поддержка</h5></a></p>
    <p><img src="/imagesStandart/SupportCenter.png" align="left"><a href="#"><h5>Центр помощи</h5></a></p>
    <p><img src="/imagesStandart/SendMessage.png" align="left"><a href="#"><h5>Послать сообщение</h5></a></p>
    <h3>Правовые аспекты</h3>
    <p><img src="/imagesStandart/Confidentiality.png" align="left"><a href="#"><h5>Конфиденциальность</h5></a></p>
    <p><img src="/imagesStandart/Agreement.png" align="left"><a href="#"><h5>Соглашение</h5></a></p>
    <p><img src="/imagesStandart/UserAgreement.png" align="left"><a href="#"><h5>Пользовательское соглашение</h5></a></p>
    <div class="footer-bottom-right">
      <p><h5><a href="#">Лучшие текстуры, 3D модели и плагины | НАШ САЙТ</h5></a></p>
    </div>
  </div>
  </footer>
</div>

 <%-blocks.footer%>
<!-- ПОДВАЛ САЙТА КОНЕЦ-->
